@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400; 0,700; 1,400; 1.700&family=Doppio+One&display=swap');

:root{
  --clr-color: #000000;
  --clr-color1:#ffffff;
  --clr-color2:#c1121f;
}
.App {
  text-align: center;
}
.App {
  background-color: rgb(0, 0, 0);
  color: white;
}